<!DOCTYPE html>
<title>Basic Calculator GET</title>
<h2>Calculator GET Method</h2>
<a name ="linktopost "href="/">Go to POST method</a></br>
<a name="aboutme" href="/aboutme">About me</a>
  <form method="get">
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
    {% endfor %}
    <button name="submit" type="submit">Calculate</button>
  </form>
<h1>result : {{ result }}</h1>
<form method="get">
  <button name="clearall" value="clearall" >Clear all</button>
</form>
<br>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table name="history">
  <tr>
    <th name="ip1">Input 1</th>
    <th name="op_header">Operation</th>
    <th name="ip2">Input 2</th>
    <th name="result_header">Result</th>
  </tr>
{% for calc in allobject %}
<tr>
    <td name="x{{ forloop.counter0 }}">{{ calc.x }}</td>
    <td name="op{{ forloop.counter0 }}">{{ calc.operations }}</td>
    <td name="y{{ forloop.counter0 }}">{{ calc.y }}</td>
    <td name="result{{ forloop.counter0 }}">{{ calc.result }}</td>
  </tr>
{% endfor %}
</table>
</html>